<div class="celebrity">
  <input type="hidden" value="{{id}}"/>
  <h3>{{name}}</h3>
  <div>
    <img src="{{img}}"/>
  </div>
  <h5>Description</h5>
  <p>{{description}}</p>
  <h5>Friends:</h5>
  <p>{{friendsList}}</p>
  <div class="progressbar">
    <div class="progress"></div>
  </div>
</div>
